---
layout: default
---

<div class="post">

  <header class="post-header">
    <h2 class="post-title">
     {{ site.first_name }} {{ site.last_name }}
    </h2>
  </header>

  <p class="desc">{{ page.description }}</p>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      <!-- {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %} -->
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}

    </div>

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    {% endif %}

    {% if page.selected_papers %}
      <div class="publications">
        <h4>Publication</h4>
        
        <!-- route -->
        <table border="1">
          <thead>
            <tr>
              <th><b>MoCap</b></th>
              <th><div style="color: gray">Single-Person</div></th>
              <th><div style="color: gray">Multi-Person</div></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><div style="color: gray">Single-View</div></th>
              <td><a href="#propose.png">ProPose</a> (CVPR 23, analytical probability, fusion) </td>
              <td>SMAP (ECCV 20, global translation, occlusion) </td>
            </tr>
            <tr>
              <th><div style="color: gray">Multi-View</div></th>
              <td>Mirror (CVPR 21 Oral, dataset, optimization)</td>
              <td>MVPose (TPAMI 21, match, track, filter) <br> 
                  QuickPose (SIGGRAPH 22, speed up match) 
              </td>
            </tr>
          </tbody>
        </table>
        
        <br>
      
        <table border="1">
          <thead>
            <tr>
              <th><b>Recon</b></th>
              <th><div style="color: gray">Single-Person</div></th>
              <th><div style="color: gray">Multi-Person</div></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><div style="color: gray">Single-View</div></th>
              <td>TotalSelfScan (NeurIPS 22, whole body avatar) </td>
              <td> </td>
            </tr>
            <tr>
              <th><div style="color: gray">Multi-View</div></th>
              <td></td>
              <td>MultiNB (SIGGRAPH 22, novel view)  </td>
            </tr>
          </tbody>
        </table>
        
        <br>
        <!-- route -->

        {% bibliography -f papers -q @*[selected=true]* %}
      </div>
    {% endif %}


    {% if page.experience %}
    <h4>Experience</h4>
    <ul>
      <li>[2022.4 - Now] &nbsp Research Engineer, AI Lab, NetEase Games</li>
      <li>[2021.5 - 2021.7] &nbsp Intern, Tao Technology Department, Alibaba Group</li>
      <li>[2018.11 - 2019.9] &nbsp Intern, MIG-3D&AR Group, SenseTime</li>
      <li>Reviewer of CVPR, ECCV, ICCV, IJCV</li>
    </ul>

    <h4>Award</h4>
    <ul>
      <li>National Scholarship, Tencent Scholarship at ZJU, 2021</li>
      <li>First Prize in Robot Competition of Zhejiang Province, 2017</li>
      <li>Second Prize in National Mathematics Competition of College Student, 2017</li>
      <li>Second Prize in National Mathematical Contest in Modeling, 2017</li>
    </ul>
    {% endif %}



  </article>

</div>
