---
layout: default
---

<div class="post">

  <header class="post-header">
    <h2 class="post-title">
     {{ site.first_name }} {{ site.last_name }}
    </h2>
  </header>

  <p class="desc">{{ page.description }}</p>

  <article>
    {% if page.profile %}
    <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
      {% if page.profile.image %}
        <img class="img-fluid z-depth-1" src="{{ page.profile.image | prepend: '/assets/img/' | relative_url }}">
      {% endif %}
      <!-- {% if page.profile.address %}
        <div class="address">
          {{ page.profile.address }}
        </div>
      {% endif %} -->
    </div>
    {% endif %}

    <div class="clearfix">
      {{ content }}

    </div>

    {% if page.social %}
    <div class="social">
      <div class="contact-icons">
        {% include social.html %}
      </div>
    </div>
    {% endif %}

    {% if page.selected_papers %}
      <div class="publications">
        <h4>Publication</h4>
        {% bibliography -f papers -q @*[selected=true]* %}
      </div>
    {% endif %}


    {% if page.experience %}
    <h4>Experience</h4>
    <ul>
      <li>[2022.3 - Now] &nbsp Research Engineer, NetEase Games AI Lab</li>
      <li>[2021.5 - 2021.7] &nbsp Intern, Tao Technology Department, Alibaba Group</li>
      <li>[2018.11 - 2019.9] &nbsp Intern, 3D Vision Department, SenseTime</li>
      <li>Reviewer of CVPR, ECCV, ICCV, IJCV</li>
    </ul>

    <h4>Award</h4>
    <ul>
      <li>National Scholarship, Tencent Scholarship at ZJU, 2021</li>
      <li>First Prize in Robot Competition of Zhejiang Province, 2017</li>
      <li>Second Prize in National Mathematics Competition of College Student, 2017</li>
      <li>Second Prize in National Mathematical Contest in Modeling, 2017</li>
    </ul>
    {% endif %}



  </article>

</div>
