<table border="1">
    <thead>
      <tr>
        <th>MoCap</th>
        <th><div style="color: gray">Single-Person</div></th>
        <th><div style="color: gray">Multi-Person</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><div style="color: gray">Single-View</div></th>
        <td>ProPose (CVPR 23, analytical probability, fusion) </td>
        <td>SMAP (ECCV 20, global translation, occlusion) </td>
      </tr>
      <tr>
        <th><div style="color: gray">Multi-View</div></th>
        <td>Mirror (CVPR 21 Oral, dataset, optimization)</td>
        <td>MVPose (TPAMI 21, match, track, filter) <br> 
            QuickPose (SIGGRAPH 22, match, speed up) 
        </td>
      </tr>
    </tbody>
  </table>
  
  <br>

  <table border="1">
    <thead>
      <tr>
        <th>Recon</th>
        <th><div style="color: gray">Single-Person</div></th>
        <th><div style="color: gray">Multi-Person</div></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th><div style="color: gray">Single-View</div></th>
        <td>TotalSelfScan (NeurIPS 22, whole body avatar) </td>
        <td> </td>
      </tr>
      <tr>
        <th><div style="color: gray">Multi-View</div></th>
        <td></td>
        <td>MultiNB (SIGGRAPH 22, novel view, segmentation)  </td>
      </tr>
    </tbody>
  </table>